.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture {
    width: 40%;
}
.picture img {
    padding-top: 5px;
    width: 80%;
}
.title {
    display: flex;
    flex-direction: column;    
}
.title .titleAndButton {
    display: flex;
    justify-content: end;
    margin: 10px;
}
button, h2, h3 {
    margin: 10px;
} 
.container .text .description {
    width: 500px;
}
.description {
    text-align: justify;
}