<div >
    <!-- <h2>Snowboards</h2> -->
    <div class="container">
        <div class="list">
            <app-product-item class="item" *ngFor="let product of products; let i=index"
            (click)="goToDetail(i)"
                [productId]="i"
                [productBrand]="product.brand"
                [productModel]="product.model"
                [productSize]="product.size"
                [productImage]="product.image"
                [productDescription]="product.description"
                [productPrice]="product.price"
            ></app-product-item>
        </div>
    </div>
</div>
